body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.nav-links ul {
  list-style-type: none;
}

.nav-link {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 15px;
  padding: 8px;
}

.nav-link a {
  text-decoration: none;
  color: #78aba8;
}

.sign-up {
  border: 1px solid #c8cfa0;
  border-radius: 20px;
  padding: 15px 20px;
  color: #fff;
  background-color: #fcdc94;
}

.container {
  position: relative;
  text-align: left;
}

.image {
  width: 100%;
  height: 700px;
  border-radius: 10px;
}

.text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.headline {
  font-size: 48px;
  font-weight: 600;
  color: #73a9ad;
  margin-bottom: 20px;
}

.sub-headline {
  font-size: 32px;
  color: #faebd7;
  margin-bottom: 20px;
}

.call-to-action {
  font-size: 22px;
  font-weight: 500;
  color: aliceblue;
}

button {
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #000;
}

button:hover {
  background-color: #ef9c66;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

section {
  text-align: center;
}

.section-heading {
  font-size: 40px;
  font-weight: 500;
  margin: 20px;
}

.why {
  margin-top: 80px;
}

.why > .section-content {
  font-size: 20px;
  padding: 20px 50px;
  line-height: 1.5;
}

.types {
  margin: 80px 30px 0 30px;
  font-size: 20px;
  line-height: 1.5;
}

.types > ul {
  list-style: circle;
}

.types .section-content ul {
  list-style-type: none;
  padding-left: 0;
}

.how {
  margin: 80px 30px 0 30px;
  font-size: 20px;
  line-height: 1.5;
}

ol {
  list-style: none;
}

.faq {
  margin: 80px 30px 0 30px;
}

.question {
  font-size: 20px;
}

.answer {
  color: #73a9ad;
}

footer {
  text-align: center;
  color: grey;
  font-size: 12px;
  margin: 80px 0 30px 0;
}
